body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sidebar-menu {
  background-color: black;
  height: 630px;
  width: 250px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  color: deeppink;
  position: absolute;
  top: 0;
  left: 5%; 
  transform:translate(-50%, 25%);
}

.written,
.bi-list {
  margin: 5px;
  cursor: default;
}

.bi-list:hover {
  scale: 1.18;
  cursor: pointer;
}

.body-menu {
  position: absolute;
  top: 0;
  left: 5%; 
  transform: translate(-50%, 30%);
}

.theme ul,
.settings ul,
.buttons ul {
  list-style-type: none;
  cursor: default;
  color: white;
  margin: 10px;
}

.theme {

}

.settings {

}

.buttons li {
  padding: 5px 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 30px;
  transform: translate(30px, 300px);
}

li {
  margin: 5px;
}

li:hover {
  scale: 1.04;
  cursor: pointer;
}