body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  transform: translate(-12px, 0);
}

#sidebar-menu {
  background-color: black;
  height: 630px;
  width: 290px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  color: royalblue;
  position: absolute;
  top: 0;
  left: 5%; 
  transform:translate(-50%, 25%);
}

.written,
.bi-list {
  margin: 5px;
  cursor: default;
}

.bi-list:hover {
  scale: 1.20;
  cursor: pointer;
}

.body-menu {
  position: fixed;
  top: 0;
  left: 8%; 
  transform: translate(-100%, 30%);
}

ul {
  list-style-type: none;
  cursor: default;
  color: white;
}

.footer-menu {
  transform: translate(-20px, 560px);
}

.buttons ul{
  display: flex;
  flex-direction: row;
}

#item-7,
#item-8 {
  color: royalblue;
  margin: 10px;
  padding: 8px 14px;
  border: 2px solid royalblue;
  border-radius: 50px;
}


#item-7:hover,
#item-8:hover {
  color: white;
  cursor: pointer;
  scale: 1.10;
  border: 2px dotted white;
}