body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sidebar-menu {
  background-color: black;
  height: 630px;
  width: 250px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  color: deeppink;
  position: absolute;
  top: 0;
  left: 5%; 
  transform:translate(-50%, 25%);
}

.written,
.bi-list {
  margin: 5px;
}

.body-menu {
  position: absolute;
  top: 0;
  left: 5%; 
  transform:translate(-50%, 45%);
}

ul {
  list-style-type: none;
  color: peru;
}

li {
  margin: 10px;
}